* {
  margin: 0;
  padding: 0;
  color: #232323;
}

/* ============ Navbar ============ */

.navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(255,255,255,1);
  display: flex;
  align-items: center;
  z-index: 102;
}

.navbar-logo {
  display: inline;
  margin: 7px 10px;
}

.navbar-logo img {
  height: 30px;
}

.navbar-wrapper ul {
  list-style: none;
  margin: 0;
  display: inline;
}

.navbar-wrapper li {
  display: inline;
  margin-left: 25px;
}

.navbar-wrapper li:hover, .navbar-wrapper li:focus {
  border-bottom: 1px solid;
}

.navbar-wrapper li a {
  text-decoration: none;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 18px;
  line-height: 100%;
}

/* ============ Hero Image ============= */

.hero-wrapper {
  height: 90vh;
  width: 100vw;
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
}

.text-wrapper {
  background-color: rgba(255,255,255,0.75);
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title h1 {
  font-family: 'Quattrocento', serif;
  font-size: 59px;
  text-align: center;
  letter-spacing: 6px;
}

.header-content {
  width: 85%;
}

.header-content p {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 27px;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px 0;
}

.title img {
  height: 150px;
  padding-right: 6px;
  margin-bottom: -4px;
}

.title img .st0 {
  fill: white;
}

/*===================== Sub-Header =====================*/

.sub-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdf9ff;
  justify-content: center;
  width: 100vw;
  min-height: 10vh;
  padding-bottom: 65px;
}

.down-chevron {
  width: 50px;
  margin: 35px 0;
}

h3 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
  text-align: center;
  padding: 0 10vw;
}

.divider-image img {
  display: block;
  margin: 30px auto 0 auto;
}

/* =============== Navigation Images ===============*/

.navigation-images-wrapper {
  padding: 60px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-image {
  position: relative;
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.nav-image img {
  width: 100%;
  transition: all 0.1s ease-out;
}

.nav-image img:hover, .nav-image img:focus {
  /*transform: scale(1.03);*/
  filter: blur(1px) grayscale(70%);
}

.nav-description-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 50px;
  pointer-events: none;
  background-color: rgba(108,0,150,0.25);
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.15s ease-out;
}

.nav-image:hover .nav-description-wrapper, .nav-image:focus .nav-description-wrapper {
  transform: translateY(0);
  opacity: 1;
}

.nav-description {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 25px;
  color: rgba(255,255,255,1);
}

/* ================ Image / Text Content =================*/

.image-text-content-wrapper {
  display: flex;
  width: 100vw;
  height: 400px;
  overflow: hidden;
}

.image-text-content-wrapper:nth-child(odd) {
  flex-direction: row-reverse;

}

.image-text-content-text-wrapper {
  width: 50vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-text-content-text-wrapper h3 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 40px;
  text-align: center;
  letter-spacing: 6px;
}

.image-text-content-text-wrapper p {
  font-family: 'Fanwood Text', sans-serif;
  font-size: 28px;
  text-align: center;
  padding: 50px;
}

.image-text-content-image-wrapper {
  position: relative;
  width: 50vw;
}

.image-text-content-image-wrapper img {
  bottom: 0;
  position: absolute;
  width: 50vw;
  vertical-align: bottom;
}
