[[$header]]
    <div class="hero-wrapper" style="background-image: url('[[*heroImage]]')">
      <div class="text-wrapper">
        <div class="title">
          <h1>[[*pagetitle]]</h1>
        </div>
        <div class="header-content">
          [[*content]]
        </div>
      </div>
    </div>
    <div class="sub-header-wrapper">
      <div class="down-chevron">
        <img src="./assets/down-arrow.svg" alt="">
      </div>
      <h3>[[*introtext]]</h3>
    </div>
    <div class="content-wrapper">
      [[*textImageContent-title1:!empty=`
      <div class="image-text-content-wrapper">
        <div class="image-text-content-text-wrapper">
          <h3>[[*textImageContent-title1]]</h3>
          <p>[[*textImageContent-text1]]</p>
        </div>
        <div class="image-text-content-image-wrapper">
          <img src="[[*textImageContent-image1]]" alt="An image of the Women's rowing squad.">
        </div>
      </div>
      `]]
      [[*textImageContent-title2:!empty=`
      <div class="image-text-content-wrapper">
        <div class="image-text-content-text-wrapper">
          <h3>[[*textImageContent-title2]]</h3>
          <p>[[*textImageContent-text2]]</p>
        </div>
        <div class="image-text-content-image-wrapper">
          <img src="[[*textImageContent-image2]]" alt="An image of the Women's rowing squad.">
        </div>
      </div>
      `]]
      [[*textImageContent-title3:!empty=`
      <div class="image-text-content-wrapper">
        <div class="image-text-content-text-wrapper">
          <h3>[[*textImageContent-title3]]</h3>
          <p>[[*textImageContent-text3]]</p>
        </div>
        <div class="image-text-content-image-wrapper">
          <img src="[[*textImageContent-image3]]" alt="An image of the Women's rowing squad.">
        </div>
      </div>
      `]]
      [[*textImageContent-title4:!empty=`
      <div class="image-text-content-wrapper">
        <div class="image-text-content-text-wrapper">
          <h3>[[*textImageContent-title4]]</h3>
          <p>[[*textImageContent-text4]]</p>
        </div>
        <div class="image-text-content-image-wrapper">
          <img src="[[*textImageContent-image4]]" alt="An image of the Women's rowing squad.">
        </div>
      </div>
      `]]
    </div>
[[$footer]]
