[[$header]]
    <div class="hero-wrapper">
      <div class="title">
        <h1>Team <span class="title-logo"><img src="./assets/keane_logo.svg" alt="Team Keane's Logo"></span>eane</h1>
        <h2>[[*longtitle]]</h2>
      </div>
      <div class="down-chevron">
        <img src="./assets/down-arrow.svg" alt="">
      </div>
    </div>
    <div class="sub-header-wrapper">
      <div class="sub-header">
        <h3>[[*description]]</h3>
        <div class="divider-image">
          <img src="./assets/oars.png" alt="A pair of rowing oars">
        </div>
      </div>
    </div>
    <div class="navigation-images-wrapper">
      [[*nav-description-1:!empty=`
      <div class="nav-image">
        <div class="image-wrapper">
          <a href="[[~[[*navigation-image-link-1]]]]"><img src="[[*nav-image-1]]" alt="[[*navigation-image-1-description]]"></a>
        </div>
        <div class="nav-description-wrapper">
          <h5 class="nav-description">[[*nav-description-1]]</h5>
        </div>
      </div>
      `]]
      [[*nav-description-2:!empty=`
      <div class="nav-image">
        <div class="image-wrapper">
          <a href="[[~[[*navigation-image-link-2]]]]"><img src="[[*nav-image-2]]" alt="[[*navigation-image-2-description]]"></a>
        </div>
        <div class="nav-description-wrapper">
          <h5 class="nav-description">[[*nav-description-2]]</h5>
        </div>
      </div>
      `]]
      [[*nav-description-3:!empty=`
      <div class="nav-image">
        <div class="image-wrapper">
          <a href="[[~[[*navigation-image-link-3]]]]"><img src="[[*nav-image-3]]" alt="[[*navigation-image-3-description]]"></a>
        </div>
        <div class="nav-description-wrapper">
          <h5 class="nav-description">[[*nav-description-3]]</h5>
        </div>
      </div>
      `]]
      [[*nav-description-4:!empty=`
      <div class="nav-image">
        <div class="image-wrapper">
          <a href="[[~[[*navigation-image-link-4]]]]"><img src="[[*nav-image-4]]" alt="[[*navigation-image-4-description]]"></a>
        </div>
        <div class="nav-description-wrapper">
          <h5 class="nav-description">[[*nav-description-4]]</h5>
        </div>
      `]]
      </div>
    </div>
    <div class="second sub-header-wrapper">
      <div class="sub-header">
        <h3>[[*introtext]]</h3>
      </div>
    </div>
    <div class="content-wrapper">
      [[*textImageContent-title1:!empty=`
      <div class="image-text-content-wrapper">
        <div class="image-text-content-text-wrapper">
          <a href="[[~[[*textImageContent-link-1]]]]">
            <h3>[[*textImageContent-title1]]</h3>
            <p>[[*textImageContent-text1]]</p>
          </a>
        </div>
        <div class="image-text-content-image-wrapper">
          <img src="[[*textImageContent-image1]]" alt="[[*textImageContent-Description-1]]">
        </div>
      </div>
      `]]
      [[*textImageContent-title2:!empty=`
      <div class="image-text-content-wrapper">
        <div class="image-text-content-text-wrapper">
          <a href="[[~[[*textImageContent-link-2]]]]">
            <h3>[[*textImageContent-title2]]</h3>
            <p>[[*textImageContent-text2]]</p>
          </a>
        </div>
        <div class="image-text-content-image-wrapper">
          <img src="[[*textImageContent-image2]]" alt="[[*textImageContent-Description-2]]">
        </div>
      </div>
      `]]
      [[*textImageContent-title3:!empty=`
      <div class="image-text-content-wrapper">
        <div class="image-text-content-text-wrapper">
          <a href="[[~[[*textImageContent-link-3]]]]">
            <h3>[[*textImageContent-title3]]</h3>
            <p>[[*textImageContent-text3]]</p>
          </a>
        </div>
        <div class="image-text-content-image-wrapper">
          <img src="[[*textImageContent-image3]]" alt="[[*textImageContent-Description-3]]">
        </div>
      </div>
      `]]
      [[*textImageContent-title4:!empty=`
      <div class="image-text-content-wrapper">
        <div class="image-text-content-text-wrapper">
          <a href="[[~[[*textImageContent-link-4]]]]">
            <h3>[[*textImageContent-title4]]</h3>
            <p>[[*textImageContent-text4]]</p>
          </a>
        </div>
        <div class="image-text-content-image-wrapper">
          <img src="[[*textImageContent-image4]]" alt="[[*textImageContent-Description-4]]">
        </div>
      </div>
      `]]
    </div>
[[$footer]]
